//
// VARIABLES
//

// Colors
$blue: #1e90ff;

// Grays
$black: #000;
$darkerGray: #140d0d;
$darkGray: #262626;
$gray: #404040;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
